@{
    ViewData["Title"] = "Главная";
}
<style>
    span{
        color:grey;
        font-size:12px;
    }
    
    h1{
        animation:none;
        width:100%;
        margin-bottom:40px;
        margin-top:50px;
        -webkit-text-stroke: 1px black;
    }
    .display-4{
        font-weight: 600;
        color: #ffc800;
        font-size:65px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    img{
        width:50%;
        margin-bottom: 50px;
    }
    p{
        font-size:23px;
        font-weight: 100;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Такси ашот в деле!</h1>
    <img src="/css/taxi.svg"  />
    <p>Тут вы можете посмотреть наших таксистов, ашотов,махмутов,маруфоф(водителей короч), заказы и тд.(<span>Только для зарегестрированных пользователей</span>)</p>
    
</div>
