<style>
    h1{
        color:cadetblue;
    }
    p{
        color:darkslategray;
    }
</style>
@{
    ViewData["Title"] = "Контакты";
}
<h1>@ViewData["Title"]</h1>

<p> <a href="">8 (927) 823-44-92</a> номер который вам не ответит</p>
